{% extends 'layout.html' %} {% block body %}

<h1>Register</h1>
<form action="/register" method="post">
  <div>
    <span>Name&nbsp;&nbsp;&nbsp;</span>
    <input
      autocomplete="off"
      autofocus
      name="name"
      placeholder="Name"
      type="text"
    />
  </div>

  <br />

  <div>
    <span>Sport&nbsp;&nbsp;&nbsp;</span>
    <select name="sport">
      <option selected disabled>Select</option>
      {% for sport in sports%}
      <option value="{{sport}}">{{ sport.title() }}</option>
      {% endfor %}
    </select>
  </div>

  <br />

  <div>
    <input type="submit" value="Register" />
  </div>
</form>

{% endblock %}
